.Card {
    background-color: #f1e0cae3;
    border: 1px solid #e48152; 
    border-radius: 8px;
    padding: 10px;
}

.Container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.65rem;
}
.CardImg{
    width: 100%;
    height: 11.25rem;
    margin-bottom: 0.625rem;
    background-size: cover;
}
.CardText h5{
    margin-block-start: 0rem;
    margin-block-end: 0.45rem;
    
}
.CardTitle h4{
    margin-block-start: 0rem;
    margin-block-end: 0.45rem;
    
}
.CardText{
display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
}
.IconCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}