.search-container {
    background-image: url('/search.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin-top: 58px;
}

.search-main {
    overflow-y: auto; 
    width: 100vw;
    height: 100%;
    background-color: #9b8cad;
}
.search-content {
    display: flex;
    max-height: 600px;
    padding: 3% 5% 5% 5%;
    margin-left: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.search-content button {
    width: 130px;
    margin-block-start: 1.33em;
}

.FullSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 322px;
    justify-content: center;
    align-content: center;
}
.FullSearch input{
    margin-left: 2em;
    height: 30px;
    padding: 3px 10px;
    font-size: medium;
}
.FullSearch h4{
    margin-block-end: 0em;
}
.search-button{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0rem;
}
.active-button {
    background-color: #faa74f;
    color: white;
    border: 1px solid #e76922b8;
}
.inactive-button{
    background-color: #a08dabd1;
    color: white;
    border: 1px solid #632289a3; ; 
}
label{
    display: flex;
    justify-content: center;
}

.resultOfSearch{
    margin: 0 1.875rem 2.55rem 1.875rem;
    padding-bottom: 50px;
}

.petStatus{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin-top: 1.33em;
}
.petStatus h4 {
    margin: 0;
}
.lableColomns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
select {
    width: 219px;
    margin-left: 2em;
    height: 40px;
    padding: 3px 10px;
    font-size: medium;
}